[user]
	name = schaff
	email = schaff.mathieu93@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true
	hyperlinks = true
	true-color = always
	syntax-theme = Catppuccin Macchiato

[merge]
	conflictStyle = zdiff3

[diff]
	colorMoved = default
