[user]
	name = schaff
	email = schaff.mathieu93@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
	side-by-side = true
